# Virtual environment
env/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log